.center{
  margin: 0 auto;
  display: block;
  width: 50%;
}
.logo {
  width: 5em;
  height: 5em;
  display: block;
  margin: 0 auto;
  color: black;
}
.my-searchbar{
  width: 50%;
}
ion-list{
  width: 100% !important;
}


ion-card{
  color: black;
  text-align: center;
  border-radius: 0%;
}
ion-title{
  text-align: center;
  color: white;
  background: #216353;
}
ion-toolbar{
  margin-top: 20px;
}
.label{
  margin: 0.5rem;
  background: #216353;
}