.avatar{
width: 150px;
height: 150px;
display: table;
margin: 0 auto;
margin-top: 15px;
margin-bottom: 15px;
text-align: center;
}

.data{
    display: table;
    margin: 0 auto;
    text-align: center;
    background: white;
    color: black;
}