ion-tab-button:hover{
    background: #216353;
}

ion-tab-button:active ion-icon{
    background: #216353;
    color: #7A4D1D;
}


ion-tab-button:visited{
    background: #216353;

}

ion-label{
    color:white
}


